.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.tmp/
build/
dist/
coverage/
pubspec.lock
*.class
*.jar
*.pyc
__pycache__/
target/
bin/
engines/java/.gradle/
packaging/windows/Product.generated.wxs
