<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
      Id="*"
      Name="S3 Browser Cross Platform"
      Language="1033"
      Version="{{VERSION}}"
      Manufacturer="S3 Browser Cross Platform"
      UpgradeCode="A9D78739-1FB3-4514-9A77-91BDB25CFC39">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of S3 Browser Cross Platform is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="S3 Browser Cross Platform">
{{DIRECTORY_TREE}}
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="S3 Browser Cross Platform" />
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>

    <Feature Id="MainFeature" Title="S3 Browser Cross Platform" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentGroupRef Id="ShortcutComponents" />
    </Feature>
  </Product>

  <Fragment>
    <ComponentGroup Id="AppFiles">
{{COMPONENTS}}
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ShortcutComponents">
      <Component Id="ApplicationShortcutComponent" Directory="ProgramMenuDir" Guid="*">
        <Shortcut
            Id="ApplicationStartMenuShortcut"
            Name="S3 Browser Cross Platform"
            Target="[INSTALLFOLDER]s3_browser_crossplat.exe"
            WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\S3BrowserCrossplat" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Component Id="DesktopShortcutComponent" Directory="DesktopFolder" Guid="*">
        <Shortcut
            Id="ApplicationDesktopShortcut"
            Name="S3 Browser Cross Platform"
            Target="[INSTALLFOLDER]s3_browser_crossplat.exe"
            WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\S3BrowserCrossplat" Name="desktop" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
